.booking-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.seat {
    height: 2rem;
    width: 2rem;
}

.seat__free {
    background-color: green;
}

.seat__chosen {

    background-color: red;
}

.seat__full {

    background-color: grey;
}

.seats-summary {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}